.app {
    margin-left: auto;
    margin-right: auto;
    padding:0;
    max-width: 1130px;
    color: #262626;
}

.app-body {
    background-color: #F5F5F5;
    padding: 30px;
    box-sizing: unset;
    flex-direction: column;
    display:flex;
    scroll-behavior: auto;
    align-items: center;
}

.user-list {
    margin: 0;
    padding: 0;
    height: 100%;
}